.mainBody {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventInfo {
  background-color: #5ecc5ed9;
  width: 60%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 15px;
  line-height: 3;
}