.modalBody {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  background-color: #862186;
  width: 50%;
  text-align: center;
  border: 1px solid black;
}

.modalBody > * {
  padding: 5%;
}

.buttonsArea {
  display: flex;
  justify-content: space-around;
}
.modalBody button {
  width: 25%;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
}