.mainBody {
  background-color: white;
  height: 100vh;
}

.studentInfoPageLayout {
  display: flex;
  justify-content: space-around;

}

.studentInfoPageLayout > * {
  width: 40%;
}

.studentInfo {
  background-color: #f4ff0785;
  padding: 2%;
  border-radius: 10px;
  line-height: 2;
}

.eventsInfo {
  text-align: center;
  background-color: #80808024;
  padding: 2%;
}

.eventListing {
  background-color: #673ab7ab;
  padding: 2%;
  border-radius: 10px;
  margin-top: 10px;
}

.eventListing > * {
  text-decoration: none;
}

.eventListing > p {
  font-weight: 200;
}

.deleteBtn {
  background-color: rgb(235, 152, 152);
  border: none;
  padding: 7px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: white;
}