
.newEventArea {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100%;
}

.modalBody {
  background-image: linear-gradient(to bottom right, orange, #35ddde30);
  margin-top: 3%;
  padding: 4%;
  border-radius: 15px;
}

.modalBody form {
  display: flex;
  flex-direction: column;
}

.modalBody button {
  background-color: #862186;
  border: none;
  padding: 7px;
  cursor: pointer;
  color: white;
}

.modalBody button:hover {
  background-color: gray;
  color: black;
}

p {
  text-align: center;
}