.mainBody {
  background-color: white;
  color: black;
  height: 100%;
  text-align: center;
}

.eventsListing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .listing {
  background-color: orange;
  width: 50%;
  margin: 5px;
  padding: 0.5rem;
  border-radius: 15px;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  color: #328889;
}

.listing:hover {
  background-color: yellow;
} */

.addNewBtn {
  background-color: #6ecbff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 200;
  margin: 1rem;
}

.addNewBtn:hover {
  background-color: #07aeae;
  color: white;
}

