.mainBody {
  background-color: white;
  height: 100vh;
}

.pianistInfoLayout {
  display: flex;
  justify-content: space-around;
}

.pianistInfoLayout > * {
  width: 40%;
}

.pianistInfo {
  background-color: #f4ff0785;
  padding: 2%;
  border-radius: 10px;
  line-height: 2;
}

.pianistEventsInfo {
  text-align: center;
  background-color: #80808024;
  padding: 2%;
}

.eventListing {
  background-color: #673ab7ab;
  padding: 2%;
  border-radius: 10px;
  margin-top: 10px;
}

.eventListing > * {
  text-decoration: none;
}

.eventListing > p {
  font-weight: 200;
}