.landingPageBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.landingTop {
  background-image: linear-gradient(#35dddd, white);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  padding-bottom: 4rem;
  height: 90vh;
}

.logoImg {
  border-radius: 100%;
  width: 50%;
  box-shadow: 0px 0px 10px #256d82 ;
  margin-top: 20px;
}

.subTitle {
  font-size: 2rem;
  font-style: italic;
  margin-top: 3rem;
  text-align: left;
}

.landingBottom {
  background-color: #80808014;
  height: 100%;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.landingBottom p {
  font-size: 0.75rem;
  cursor: text;
}

.landingTopLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
}


.landingTopRight {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresHeading {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

.signUpBtn {
  background-color: orange;
  color: white;
  font-weight: 500;
  border: none;
  padding: 3.5%;
  box-shadow: 0px 0px 10px #73a013;
  margin-top: 40px;
  width: 50%;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

.signUpBtn:hover {
  background-color: rgba(128, 128, 128, 0.703);
  box-shadow: 0px 0px 20px gray;
}

li {
  font-weight: 200;
  margin-bottom: 0.25rem;
}

em {
  font-weight:500;
  color: orange;
  text-shadow: 2px 2px 2px gray;
  cursor:default;
}