.header {
  background-color: #35dddd;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  border: 1px solid gray;
}

.navLink {
  background-color: orange;
}

p {
  cursor: pointer;
}