.header {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
}

.navLink {
  background-color: orange;
}

p {
  cursor: pointer;
}

.darkModeBtn {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 1rem;
  font-weight: 100;
}