.header {
  background-color: #862186;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  color: white;
}

.unSelectedNavLink {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.navLink {
  color: orange;
  font-weight: 800;
  text-decoration: none;
}

p {
  cursor: pointer;
}

.darkModeBtn {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
}